/**Details page**/

@import url("https://fonts.cdnfonts.com/css/nunito-sans");

@media (max-width: 485px) {
  .ticket {
    background-color: white;
    color: black;
    height: fit-content;
    min-height: 430px;
    min-width: 245px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  }

  .topic-details {
    background-color: var(--bg-details);
    padding: 7vw;
    display: flex;
  }

  .topic-details-iner {
    text-align: justify;
    color: white;
  }

  .list {
    background-color: var(--bg_default);
    border-radius: 5px;
    border: 1px solid var(--lines-color);
    margin-bottom: 5px;
    margin-right: calc(255px+ 15vw);
  }
}

@media (min-width: 486px) and (max-width: 768px) {
  .ticket {
    background-color: white;
    color: black;
    height: fit-content;
    width: 245px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    position: absolute;
    right: 15%;
    margin-top: 100px;
    z-index: 0;
    margin-left: 15vw;
    margin-bottom: 5px;
  }

  .topic-details {
    background-color: var(--bg-details);
    margin-bottom: 20px;
    padding-left: 15vw;
    padding-right: 15vw;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
  }

  .topic-details-iner {
    width: 30%;
    margin-right: 245px;
    flex-grow: 1;
    color: white;
  }

  .list {
    background-color: var(--bg_default);
    border-radius: 5px;
    max-width: 300px;
    border: 1px solid var(--lines-color);
    margin: 0%;
    margin-right: calc(15vw + 255px);
    margin-left: 15vw;
  }
}

@media (min-width: 769px) {
  .ticket {
    background-color: white;
    color: black;
    height: fit-content;
    width: 245px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    position: absolute;
    right: 15%;
    margin-top: 100px;
    z-index: 0;
    margin-left: 15vw;
    margin-bottom: 5px;
  }

  .topic-details {
    background-color: var(--bg-details);
    margin-bottom: 20px;
    padding-left: 15vw;
    padding-right: 15vw;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
  }

  .topic-details-iner {
    width: 30%;
    margin-right: 245px;
    flex-grow: 1;
    color: white;
  }

  .list {
    background-color: var(--bg_default);
    border-radius: 5px;
    max-width: 345px;
    border: 1px solid var(--lines-color);
    margin: 0%;
    margin-right: calc(15vw + 255px);

    margin-left: 15vw;
  }
}

body {
  font-family: "Nunito Sans";
  font-size: x-small;
  height: 100vh;
  background-color: var(--bg_body);
  color: var(--body-text);
  margin: 0%;
}

.category-d {
  margin: 0%;
  color: var(--brand-secondary);
}

.topic-d {
  margin: 0%;
}

.text-d {
  margin-top: 20px;
  margin-bottom: 20px;
}

.ticket-info-container {
  padding: 15px;
}
.ticket-info-iner-container {
  padding: 5px;
  border: 1px solid gainsboro;
  text-align: center;
}

.fav-button {
  background-color: var(--brand-secondary);
  border: 0cap;
  color: white;
  border-radius: 0%;
  padding: 7px;
}

.remove-button {
  background-color: var(--heart-color);
  border: 0cap;
  color: white;
  border-radius: 0%;
  padding: 7px;
  /* display: none; */
}

.list-item {
  border: 1px solid var(--lines-color);
  margin: 0;
  padding: 10px;
}
