@media (max-width: 485px) {
  .ticket {
    background-color: white;
    color: black;
    height: fit-content;
    min-height: 430px;
    min-width: 245px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  }

  .topic-details {
    background-color: var(--bg-details);
    padding: 7vw;
    display: flex;
  }

  .topic-details-iner {
    text-align: justify;
    color: white;
  }

  .list {
    background-color: var(--bg_default);
    border-radius: 5px;
    border: 1px solid var(--lines-color);
    margin-bottom: 5px;
    margin-right: calc(255px+ 15vw);
  }
}

@media (min-width: 486px) and (max-width: 768px) {
  .ticket {
    background-color: white;
    color: black;
    height: fit-content;
    width: 245px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    position: absolute;
    right: 15%;
    margin-top: 100px;
    z-index: 0;
    margin-left: 15vw;
    margin-bottom: 5px;
  }

  .topic-details {
    background-color: var(--bg-details);
    margin-bottom: 20px;
    padding-left: 15vw;
    padding-right: 15vw;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
  }

  .topic-details-iner {
    width: 30%;
    margin-right: 245px;
    flex-grow: 1;
    color: white;
  }

  .list {
    background-color: var(--bg_default);
    border-radius: 5px;
    max-width: 300px;
    border: 1px solid var(--lines-color);
    margin: 0%;
    margin-right: calc(15vw + 255px);
    margin-left: 15vw;
  }
}

@media (min-width: 769px) {
  .ticket {
    background-color: white;
    color: black;
    height: fit-content;
    width: 245px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    position: absolute;
    right: 15%;
    margin-top: 100px;
    z-index: 0;
    margin-left: 15vw;
    margin-bottom: 5px;
  }

  .topic-details {
    background-color: var(--bg-details);
    margin-bottom: 20px;
    padding-left: 15vw;
    padding-right: 15vw;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
  }

  .topic-details-iner {
    width: 30%;
    margin-right: 245px;
    flex-grow: 1;
    color: white;
  }

  .list {
    background-color: var(--bg_default);
    border-radius: 5px;
    max-width: 345px;
    border: 1px solid var(--lines-color);
    margin: 0%;
    margin-right: calc(15vw + 255px);

    margin-left: 15vw;
  }
}

/** favourites**/

.favourites {
  background-color: var(--bg_default);
  height: 100px;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}

.ticket-fav {
  background-color: var(--bg_default);
  color: var(--body-text);
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  overflow: hidden;
}

.img-container-fav {
  max-width: 100px;
  border-radius: 5px;
  overflow: hidden;
}
