/** favourites**/

.favourites {
  background-color: var(--bg_default);
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}

.ticket-fav {
  background-color: var(--bg_default);
  color: var(--body-text);
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  overflow: hidden;
}

.img-container-fav {
  max-width: 100px;
  border-radius: 5px;
  overflow: hidden;
}
